esquemes XSD/PscpPublishingService.wsdl

<wsdl:definitions xmlns:ns2="http://exceptions.model.pscp.economia.gencat.cat" xmlns:ns1="http://entity.webservices.pscp.economia.gencat.capgemini.com" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://webservices.pscp.economia.gencat.capgemini.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" targetNamespace="http://webservices.pscp.economia.gencat.capgemini.com">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://entity.webservices.pscp.economia.gencat.capgemini.com">
			<xsd:complexType name="WSCancellationNotice">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="WSDocumentReference" nillable="true" type="ns1:ArrayOfWSDocumentReference"/>
					<xsd:element minOccurs="0" name="WSTenderResult" nillable="true" type="ns1:WSTenderResult"/>
					<xsd:element minOccurs="0" name="codiBE" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="contractingAuthorityPartySacId" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="contractingUnitCode" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="diligenceId" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="finalPlatformDate" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="fundingProgramCode" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="fundingProgramCodeDescription" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="issueDate" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="publisherId" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="reservaSocial" nillable="true" type="xsd:boolean"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WSTenderResult">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="awardDate" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="awardDescription" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="awardPriceAmount" type="xsd:double"/>
					<xsd:element minOccurs="0" name="contractFormalizationPeriod" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="formalizationDate" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="procuringProjectDescription" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="procuringProjectID" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="purchasedInnovation" nillable="true" type="xsd:int"/>
					<xsd:element minOccurs="0" name="receivedTenderQuantity" nillable="true" type="xsd:long"/>
					<xsd:element minOccurs="0" name="resultCode" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="taxExclusiveAwardPriceAmount" type="xsd:double"/>
					<xsd:element minOccurs="0" name="winnerParties" nillable="true" type="ns1:ArrayOfWSWinnerParty"/>
					<xsd:element minOccurs="0" name="winnerPartyCountryCode" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="winnerPartyIdentification" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="winnerPartyIdentificationType" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="winnerPartyName" nillable="true" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfWSWinnerParty">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="WSWinnerParty" nillable="true" type="ns1:WSWinnerParty"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WSWinnerParty">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="countryCode" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="electronicMail" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="identificationType" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="identifier" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="priceAmount" type="xsd:double"/>
					<xsd:element minOccurs="0" name="taxExclusivePriceAmount" type="xsd:double"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfWSDocumentReference">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="WSDocumentReference" nillable="true" type="ns1:WSDocumentReference"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WSDocumentReference">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="annotation" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="docReferencePublicationDate" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="fileData" nillable="true" type="xsd:base64Binary"/>
					<xsd:element minOccurs="0" name="fileName" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="fileURI" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="referenceSubType" type="xsd:long"/>
					<xsd:element minOccurs="0" name="type" type="xsd:long"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WSResult">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="documentId" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="documentURL" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="m_WSWarningResult" nillable="true" type="tns:ArrayOfString"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WSContractAward">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="WSDocumentReference" nillable="true" type="ns1:ArrayOfWSDocumentReference"/>
					<xsd:element minOccurs="0" name="WSProcuringProject" nillable="true" type="ns1:WSProcuringProject"/>
					<xsd:element minOccurs="0" name="WSTenderResult" nillable="true" type="ns1:ArrayOfWSTenderResult"/>
					<xsd:element minOccurs="0" name="WSTenderingProcess" nillable="true" type="ns1:WSTenderingProcess"/>
					<xsd:element minOccurs="0" name="amendmentDescription" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="amendmentDescription_ca_ES" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="amendmentDescription_en_GB" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="amendmentDescription_es_ES" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="amendmentDescription_oc_ES" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="codiBE" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="contractingAuthorityPartySacId" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="contractingUnitCode" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="digitalEnvelope" type="xsd:boolean"/>
					<xsd:element minOccurs="0" name="diligenceId" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="electronicDelivery" type="xsd:boolean"/>
					<xsd:element minOccurs="0" name="emailOffers" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="finalPlatformDate" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="fundingProgramCode" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="fundingProgramCodeDescription" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="issueDate" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="lotCount" type="xsd:int"/>
					<xsd:element minOccurs="0" name="m_WSInvitedCompanies" nillable="true" type="ns1:ArrayOfWSParty"/>
					<xsd:element minOccurs="0" name="publishOnlyInPSCP" type="xsd:boolean"/>
					<xsd:element minOccurs="0" name="publisherId" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="reservaSocial" nillable="true" type="xsd:boolean"/>
					<xsd:element minOccurs="0" name="restricted" type="xsd:boolean"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfWSParty">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="WSParty" nillable="true" type="ns1:WSParty"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WSParty">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="countryCode" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="electronicMail" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="identificationType" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="identifier" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WSTenderingProcess">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="auctionConstraintIndicator" type="xsd:int"/>
					<xsd:element minOccurs="0" name="awardingTypeCode" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="description" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="diligenceTypeCode" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="efficientManagement" type="xsd:int"/>
					<xsd:element minOccurs="0" name="feeValueAmount" type="xsd:double"/>
					<xsd:element minOccurs="0" name="openingTenderEvents" nillable="true" type="ns1:ArrayOfWSOpeningTenderEvent"/>
					<xsd:element minOccurs="0" name="openingTendersEventOcurrenceDate" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="openingTendersEventOcurrenceDescription" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="openingTendersEventOcurrenceLocation" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="tendersReceptionPeriodEndDate" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="typeCode" nillable="true" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfWSOpeningTenderEvent">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="WSOpeningTenderEvent" nillable="true" type="ns1:WSOpeningTenderEvent"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WSOpeningTenderEvent">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="ocurrenceDate" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="ocurrenceDescription" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="ocurrenceLocation" nillable="true" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfWSTenderResult">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="WSTenderResult" nillable="true" type="ns1:WSTenderResult"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WSProcuringProject">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="WSClassificationCategory" nillable="true" type="ns1:ArrayOfWSClassificationCategory"/>
					<xsd:element minOccurs="0" name="WSSubProcuringProject" nillable="true" type="ns1:ArrayOfWSSubProcuringProject"/>
					<xsd:element minOccurs="0" name="actualizationLocation" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="actualizationLocationType" type="xsd:int"/>
					<xsd:element minOccurs="0" name="classificationCategories" nillable="true" type="ns1:ArrayOfWSClassificationCategory"/>
					<xsd:element minOccurs="0" name="contractExtensionOptionsDescription" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="contractName" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="contractingSystemTypeCode" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="description" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="differentTaxes" type="xsd:boolean"/>
					<xsd:element minOccurs="0" name="estimateValueAmount" type="xsd:double"/>
					<xsd:element minOccurs="0" name="id" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="netBudgetAmount" type="xsd:double"/>
					<xsd:element minOccurs="0" name="plannedPeriodDurationMeasure" type="xsd:int"/>
					<xsd:element minOccurs="0" name="plannedPeriodEndDate" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="plannedPeriodStartDate" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="subProcuringProjects" nillable="true" type="ns1:ArrayOfWSSubProcuringProject"/>
					<xsd:element minOccurs="0" name="subTypeCode" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="totalBudgetAmount" type="xsd:double"/>
					<xsd:element minOccurs="0" name="totalTaxAmount" type="xsd:double"/>
					<xsd:element minOccurs="0" name="typeCode" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="variantsConstraintIndicator" type="xsd:int"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfWSClassificationCategory">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="WSClassificationCategory" nillable="true" type="ns1:WSClassificationCategory"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WSClassificationCategory">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="codeValue" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfWSSubProcuringProject">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="WSSubProcuringProject" nillable="true" type="ns1:WSSubProcuringProject"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WSSubProcuringProject">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="WSClassificationCategory" nillable="true" type="ns1:ArrayOfWSClassificationCategory"/>
					<xsd:element minOccurs="0" name="actualizationLocation" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="actualizationLocationType" type="xsd:int"/>
					<xsd:element minOccurs="0" name="classificationCategories" nillable="true" type="ns1:ArrayOfWSClassificationCategory"/>
					<xsd:element minOccurs="0" name="description" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="id" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="netBudgetAmount" type="xsd:double"/>
					<xsd:element minOccurs="0" name="plannedPeriodDurationMeasure" type="xsd:int"/>
					<xsd:element minOccurs="0" name="plannedPeriodEndDate" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="plannedPeriodStartDate" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="totalBudgetAmount" type="xsd:double"/>
					<xsd:element minOccurs="0" name="totalTaxAmount" type="xsd:double"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WSContractNotice">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="WSDocumentReference" nillable="true" type="ns1:ArrayOfWSDocumentReference"/>
					<xsd:element minOccurs="0" name="WSProcuringProject" nillable="true" type="ns1:WSProcuringProject"/>
					<xsd:element minOccurs="0" name="WSTenderingProcess" nillable="true" type="ns1:WSTenderingProcess"/>
					<xsd:element minOccurs="0" name="WSTenderingTerms" nillable="true" type="ns1:WSTenderingTerms"/>
					<xsd:element minOccurs="0" name="amendmentDescription" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="amendmentDescription_ca_ES" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="amendmentDescription_en_GB" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="amendmentDescription_es_ES" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="amendmentDescription_oc_ES" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="codiBE" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="contractingAuthorityPartySacId" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="contractingUnitCode" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="digitalEnvelope" type="xsd:boolean"/>
					<xsd:element minOccurs="0" name="diligenceId" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="electronicDelivery" type="xsd:boolean"/>
					<xsd:element minOccurs="0" name="emailOffers" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="finalPlatformDate" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="fundingProgramCode" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="fundingProgramCodeDescription" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="issueDate" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="lotCount" type="xsd:int"/>
					<xsd:element minOccurs="0" name="m_WSInvitedCompanies" nillable="true" type="ns1:ArrayOfWSParty"/>
					<xsd:element minOccurs="0" name="publishOnlyInPSCP" type="xsd:boolean"/>
					<xsd:element minOccurs="0" name="publisherId" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="reservaSocial" nillable="true" type="xsd:boolean"/>
					<xsd:element minOccurs="0" name="restricted" type="xsd:boolean"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WSTenderingTerms">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="WSAwardingCriteria" nillable="true" type="ns1:ArrayOfWSAwardingCriteria"/>
					<xsd:element minOccurs="0" name="WSRequiredClassification" nillable="true" type="ns1:WSRequiredClassification"/>
					<xsd:element minOccurs="0" name="additionalInformation" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="businessProfileClassificationCategory" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="fundingProgramCode" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="handicappedWorkersInidcator" type="xsd:int"/>
					<xsd:element minOccurs="0" name="limitationDescription" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="maximumOperatorQuantity" type="xsd:int"/>
					<xsd:element minOccurs="0" name="minimumOperatorQuantity" type="xsd:long"/>
					<xsd:element minOccurs="0" name="protectedJobIndicator" type="xsd:int"/>
					<xsd:element minOccurs="0" name="requiredClassification" nillable="true" type="ns1:WSRequiredClassification"/>
					<xsd:element minOccurs="0" name="requiredClassifications" nillable="true" type="ns1:ArrayOfWSRequiredClassification"/>
					<xsd:element minOccurs="0" name="requiredGuarantee" type="xsd:int"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WSRequiredClassification">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="codeValue" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="financialEvaluationCriteriaDescription" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="financialEvaluationCriteriaExpressionFormula" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="financialEvaluationCriteriaObservation" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="financialEvaluationCriteriaPeriode" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="financialEvaluationCriteriaThresholdQuantity" type="xsd:double"/>
					<xsd:element minOccurs="0" name="financialEvaluationCriteriaTypeCode" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="technicalEvaluationCriteriaDescription" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="technicalEvaluationCriteriaExpressionFormula" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="technicalEvaluationCriteriaObservation" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="technicalEvaluationCriteriaPeriode" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="technicalEvaluationCriteriaThresholdQuantity" type="xsd:double"/>
					<xsd:element minOccurs="0" name="technicalEvaluationCriteriaTypeCode" nillable="true" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfWSRequiredClassification">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="WSRequiredClassification" nillable="true" type="ns1:WSRequiredClassification"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfWSAwardingCriteria">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="WSAwardingCriteria" nillable="true" type="ns1:WSAwardingCriteria"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WSAwardingCriteria">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="description" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="weightNumeric" type="xsd:double"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservices.pscp.economia.gencat.capgemini.com">
			<xsd:element name="cancelTendering">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:WSCancellationNotice"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="ArrayOfString">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="cancelTenderingResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:WSResult"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="PscpBusinessException" type="ns2:PscpWSBusinessFaultDetail"/>
			<xsd:element name="publishContractAwardNotice">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:WSContractAward"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="publishContractAwardNoticeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:WSResult"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="publishContractNotice">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:WSContractNotice"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="publishContractNoticeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:WSResult"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exceptions.model.pscp.economia.gencat.cat">
			<xsd:complexType name="PscpWSBusinessFaultDetail">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="errorCode" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="exceptionDetails" nillable="true" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="cancelTenderingRequest">
		<wsdl:part name="parameters" element="tns:cancelTendering"/>
	</wsdl:message>
	<wsdl:message name="cancelTenderingResponse">
		<wsdl:part name="parameters" element="tns:cancelTenderingResponse"/>
	</wsdl:message>
	<wsdl:message name="publishContractAwardNoticeRequest">
		<wsdl:part name="parameters" element="tns:publishContractAwardNotice"/>
	</wsdl:message>
	<wsdl:message name="publishContractAwardNoticeResponse">
		<wsdl:part name="parameters" element="tns:publishContractAwardNoticeResponse"/>
	</wsdl:message>
	<wsdl:message name="publishContractNoticeRequest">
		<wsdl:part name="parameters" element="tns:publishContractNotice"/>
	</wsdl:message>
	<wsdl:message name="publishContractNoticeResponse">
		<wsdl:part name="parameters" element="tns:publishContractNoticeResponse"/>
	</wsdl:message>
	<wsdl:message name="PscpBusinessException">
		<wsdl:part name="PscpBusinessException" element="tns:PscpBusinessException"/>
	</wsdl:message>
	<wsdl:portType name="PscpPublishingServicePortType">
		<wsdl:operation name="cancelTendering">
			<wsdl:input name="cancelTenderingRequest" message="tns:cancelTenderingRequest"/>
			<wsdl:output name="cancelTenderingResponse" message="tns:cancelTenderingResponse"/>
			<wsdl:fault name="PscpBusinessException" message="tns:PscpBusinessException"/>
		</wsdl:operation>
		<wsdl:operation name="publishContractAwardNotice">
			<wsdl:input name="publishContractAwardNoticeRequest" message="tns:publishContractAwardNoticeRequest"/>
			<wsdl:output name="publishContractAwardNoticeResponse" message="tns:publishContractAwardNoticeResponse"/>
			<wsdl:fault name="PscpBusinessException" message="tns:PscpBusinessException"/>
		</wsdl:operation>
		<wsdl:operation name="publishContractNotice">
			<wsdl:input name="publishContractNoticeRequest" message="tns:publishContractNoticeRequest"/>
			<wsdl:output name="publishContractNoticeResponse" message="tns:publishContractNoticeResponse"/>
			<wsdl:fault name="PscpBusinessException" message="tns:PscpBusinessException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PscpPublishingServiceHttpBinding" type="tns:PscpPublishingServicePortType">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="cancelTendering">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="cancelTenderingRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="cancelTenderingResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="PscpBusinessException">
				<wsdlsoap:fault name="PscpBusinessException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="publishContractAwardNotice">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="publishContractAwardNoticeRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="publishContractAwardNoticeResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="PscpBusinessException">
				<wsdlsoap:fault name="PscpBusinessException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="publishContractNotice">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="publishContractNoticeRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="publishContractNoticeResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="PscpBusinessException">
				<wsdlsoap:fault name="PscpBusinessException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PscpPublishingService">
		<wsdl:port name="PscpPublishingServiceHttpPort" binding="tns:PscpPublishingServiceHttpBinding">
			<wsdlsoap:address location="http://serveis.contractaciopublica.gencat.cat/ecofin_pscp_serveis/AppJava/services/PscpPublishingService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>